.cocktail-card {
  // border: 1px solid red;
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: center;

  h2 {
    color: #ffffff;
  }
  img {
    width: 300px;
    height: 300px;
    margin: auto;
  }
}
